{% extends 'base.html' %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-2 offset-md-2">
            <img class="item" src="../static/images/gin/ギムレット.png" alt="">
            <div class="inner">
                <p>コアントロー</p>
            </div>
            <hr>
        </div>
        <div class="col-md-2 offset-md-1">
            <img class="item" src="../static/images/gin/ジンバック.png" alt="">
            <div class="inner">
                <p>コアントロー</p>
            </div>
            <hr>
        </div>
        <div class="col-md-2 offset-md-1">
            <img class="item" src="../static/images/gin/トムコリンズ.png" alt="">
            <div class="inner">
                <p>コアントロー</p>
            </div>
            <hr>
        </div>
    </div>
</div>
{% endblock %}