{% extends 'template.html' %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-sm-4">
            <img class="item" src="../static/images/gin/ギムレット.png" alt="">
            <div class="inner">
                <p>ギムレット<span>コアントロー</span><span>レモン</span></p>
            </div>
        </div>
        <div class="col-sm-4">
            <img class="item" src="../static/images/gin/ジンバック.png" alt="">
            <div class="inner">
                <p>ギムレット<span>コアントロー</span><span>レモン</span></p>
            </div>
        </div>
        <div class="col-sm-4">
            <img class="item" src="../static/images/gin/トムコリンズ.png" alt="">
            <div class="inner">
                <p>ギムレット<span>コアントロー</span><span>レモン</span></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}