<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" type='text/css'>
    <title>{{ title }}</title>
    <style>
        header h1{
        margin: 0;
        font-weight: normal;
        text-align: center;
        font-size: 60px;
        font-family:'Train One', cursive;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
        }
    </style>
</head>
<body>
    <div class="container">
    <header>
        <h1>Y'sBAR</h1>
    </header>
    {% block content %}
    <!-- ここにメインコンテンツがくる -->
    {% endblock %}
    </div>
</body>
</html>